@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,body {
    font-size: 14px;
}
.snipcart-modal__container {
    top: 120px !important;
    transform: scale(0.92);
}